<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ChronoQuest - End</title>
  <link rel="stylesheet" href="../static/css/end.css">
</head>
<body>
  <div class="end-container">
    <h1 id="end-title">Game Over</h1>
    <div id="end-message"></div>
    <div id="end-badges"></div>
    <button id="btnRestart">Play Again</button>
  </div>
  <script src="../static/js/end.js"></script>
</body>
</html>