<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>ChronoQuest Start</title>
<link rel="stylesheet" href="../static/css/start.css">
</head>
<body>
  <div class="start-container">
    <h1>ChronoQuest</h1>
    <input type="text" id="username" placeholder="Enter username">
    <input type="password" id="password" placeholder="Enter password">
    <button id="btnStart">Start Game</button>
    <div id="start-message"></div>
  </div>
<script src="../static/js/start.js"></script>
</body>
</html>